<!doctype html>
<html lang="en" ng-app="abcam">
<head>
  <base href="/Uniprot/">
  <meta charset="UTF-8">
  <title>Abcam Test</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/javascript" src="angular/bower_components/lodash/dist/lodash.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
  <script type="text/javascript" src="angular/bower_components/restangular/dist/restangular.min.js"></script>
  <script type="text/javascript" src="js/abcam.js"></script>
</head>
<body>
	<iframe id="banner" src="banner/" width="100%" height="75" border="0" frameborder="0" scrolling="no"></iframe>
	
    <div ng-controller="selectController" ng-cloak style="margin-top:20px;">
      <label>Insert an Accession Number here:</label>&nbsp;<input type="text" name="id" ng-model="accessionNumber">&nbsp;
      <button    
    button-directive=""
    ng-click="call()"></button>
    <br />
    <hr />
    <div ng-if="uan != null"><label>User Accession Number: </label>&nbsp;{{uan}}</div>
    <div ng-if="an != null"><label>Accession Number: </label>&nbsp;{{an}}</div>
    <div ng-if="reccomendedNames != null"><label>Reccomended Names: </label><br/>&nbsp;&nbsp;&nbsp;&nbsp;
    	<label>Full Name: </label>&nbsp;{{reccomendedNames.fullName.value}}<br />
    	
    	<div ng-repeat="sn in reccomendedNames.shortName">
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Short Name: </label>&nbsp;
    		<span>{{sn.value}}</span><br/>
    	</div>
    	<div ng-repeat="ecn in reccomendedNames.ecNumber">
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>EcNumber: </label>&nbsp;
    		<span>{{ecn.value}}</span><br/>
    	</div>
    
    </div>
    <div ng-if="organism != null">
    	<div ng-repeat="org in organism">
    		<label>Organism Name: </label>&nbsp;{{org.value}} [{{org.type}}]
    	</div>
    </div>
	<div ng-if="sequence != null"><label>Sequence: </label>&nbsp;{{sequence}}</div>
	<div ng-if="error != ''">
    	<label>{{error}}</label>
    </div>
    </div>
    <iframe id="footer" src="footer/" width="100%" height="75" border="0" frameborder="0" scrolling="no" style="position: fixed; bottom: 0;" ></iframe>
</body>
</html>
